<template name="admin">
  {{> adminNavigation}}
  {{#if isUserAdmin}}
    <div class="container-fluid">
      {{> adminPanel}}
    </div>
  {{/if}}
</template>

<template name="adminNavigation">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Lilabet.eu</a>
      </div>
      <div class="navbar-collapse collapse">
        {{#if isUserAdmin}}
          <ul class="nav navbar-nav">
            {{#unless addPost}}
              <li><a href="#" class="newPost">Add new post</a></li>
            {{/unless}}
          </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }}
        </ul>
      </div>
    </div>
  </nav>
</template>

<template name="adminPanel">
  {{#if addPost}}
    {{> editPostPanel}}
  {{else}}
    {{#if editPost}}
      {{> editPostPanel}}
    {{else}}
      <table class="table table-condensed table-striped">
        {{#each posts}}
          <tr>
            <td width="50px" valign="top">
              <div class="btn-group-vertical" style="margin-top:5px;">
                <button type="button" class="btn btn-primary edit"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger delete"><i class="fa fa-trash-o"></i></button>
              </div>
              <br><br>
            </td>
            <td>
              <div class="panel-title">
                {{title}} - {{momentGameDate}}
                <div class="pull-right">
                  {{#if isTrueSet}}
                    Set result: 
                    <div class="btn-group">
                      <button type="button" class="btn btn-success isTrue"><i class="fa fa-check"></i> Right</button>
                      <button type="button" class="btn btn-warning notTrue"><i class="fa fa-times"></i> Wrong</button>
                    </div>
                  {{else}}
                    {{#if isTrue}}
                      Result: RIGHT
                    {{else}}
                      Result: WRONG
                    {{/if}}
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger eraseTrue"><i class="fa fa-eraser"></i> Erase</button>
                    </div>
                  {{/if}}
                </div>
              </div>
              <hr>
              {{#if content}}
                {{{content}}}
              {{else}}
                In archive
              {{/if}}
              <hr>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  {{/if}}
  <div class="modal fade" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close notSureDelete" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Delete post</h4>
        </div>
        <div class="modal-body">
          Are you sure deleting selected post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default notSureDelete">Close</button>
          <button type="button" class="btn btn-primary" id="sureDelete"> <i class="fa fa-trash-o"></i> Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close notTag" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Select tags</h4>
        </div>
        <div class="modal-body">
          <p>Sports</p>
          {{#each sporttags}}
            <div class="checkbox">
              <label>
                <input type="checkbox" class="selectedTag" id="{{_id}}"> {{title}}
              </label>
            </div>
          {{/each}}
          <div class="form-group">
            <input type="text" class="form-control" id="sportTag" placeholder="tag1;tag2;tag3">
          </div>
          <hr>
          <p>Tournaments</p>
          {{#each tourtags}}
            <div class="checkbox">
              <label>
                <input type="checkbox" class="selectedTag" id="{{_id}}"> {{title}}
              </label>
            </div>
          {{/each}}
          <div class="form-group">
            <input type="text" class="form-control" id="tourTag" placeholder="tag1;tag2;tag3">
          </div>
          <hr>
          <p>Teams</p>
          {{#each teamtags}}
            <div class="checkbox">
              <label>
                <input type="checkbox" class="selectedTag" id="{{_id}}"> {{title}}
              </label>
            </div>
          {{/each}}
          <div class="form-group">
            <input type="text" class="form-control" id="teamTag" placeholder="tag1;tag2;tag3">
          </div>
          <hr>
          <p>Others</p>
          {{#each othertags}}
            <div class="checkbox">
              <label>
                <input type="checkbox" class="selectedTag" id="{{_id}}"> {{title}}
              </label>
            </div>
          {{/each}}
          <div class="form-group">
            <input type="text" class="form-control" id="otherTag" placeholder="tag1;tag2;tag3">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default notTag">Close</button>
          <button type="button" class="btn btn-primary" id="tags"> <i class="fa fa-check"></i> Select</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editPostPanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        {{#unless post}}
          Add new post
        {{else}}
          Edit post
        {{/unless}}
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="inputTitle">Post's title</label>
            <input type="text" class="form-control" id="inputTitle" value="{{post.title}}">
          </div>
          <label>Game's date</label>
          <div id="datetimepicker" class="input-append date input-group">
            <input type="text" id="gameDate" class="form-control" value="{{gameDate}}">
            <span class="add-on input-group-addon">
              <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="well">
            {{#each tags}}
              <span class="badge deleteTag" style="color: #fff;background-color: {{colorTag}};">{{title}} <i class="fa fa-times"></i></span>
            {{/each}}
            <span class="badge addTag" style="color: #fff;background-color: #428bca;"><i class="fa fa-plus"></i> Add tag</span>
          </div>
        </div>
      </div>
      <br>
      <label>Post's content</label>
      <textarea class="editable form-control">
        {{post.content}}
      </textarea>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary addPost"> Save</button>
      <button class="btn btn-default cancel"> Cancel</button>
    </div>
  </div>
</template>
