<template name="admin">
  {{> adminNavigation}}
  {{#if isAdmin}}
    <div class="container-fluid">
      {{> adminPanel}}
    </div>
  {{/if}}
</template>

<template name="adminNavigation">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Lilabet.eu</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }}
        </ul>
      </div>
    </div>
  </nav>
</template>

<template name="adminPanel">
  <ul class="nav nav-tabs" id="adminTab">
    <li class="active"><a href="#geography" data-toggle="tab"><i class="fa fa-globe"></i> Geography</a></li>
    <li><a href="#sports" data-toggle="tab"><i class="fa fa-trophy"></i> Sports</a></li>
    <li><a href="#tournaments" data-toggle="tab"><i class="fa fa-calendar"></i> Tournaments</a></li>
    <li><a href="#posts" data-toggle="tab"><i class="fa fa-bullhorn"></i> Posts</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="geography">
      {{> adminGeographyPanel}}
    </div>
    <div class="tab-pane" id="sports">
      sports
    </div>
    <div class="tab-pane" id="tournaments">
      sports
    </div>
    <div class="tab-pane" id="posts">
      posts
    </div>
  </div>
</template>

<template name="adminGeographyPanel">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Countries</div><br>
              <div class="input-group">
                <input type="text" class="form-control" id="newCountryTitle" placeholder="Enter title of new country">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" id="addCountry"><i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
            <div class="panel-body">
              {{#if countries}}
                <table class="table table-condensed">
                  {{#each countries}}
                    <tr class="countryRow" id="{{_id}}">
                      <td>
                        <div class="radio">
                          <label>
                            <input type="radio" name="countries" class="selCountry" value="{{_id}}">
                          </label>
                        </div>
                      </td>
                      <td>
                        {{title}}
                      </td>
                      <td>
                        <button class="btn btn-danger removeCountry"><i class="fa fa-trash-o"></i></button>
                      </td>
                    </tr>
                  {{/each}}
                </table>
              {{else}}
                No countries in database
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          {{#if selectedCountry}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  Cities of {{selectedCountry.title}}
                </div><br>
                <div class="input-group">
                  <input type="text" class="form-control" id="newCityTitle" placeholder="Enter title of new city">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="addCity"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </div>
              <div class="panel-body">
                {{#if cities}}
                  <table class="table table-condensed">
                    {{#each cities}}
                      <tr class="cityRow" id="{{_id}}">
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" name="cities" class="selCity" value="{{_id}}">
                            </label>
                          </div>
                        </td>
                        <td>
                          {{title}}
                        </td>
                        <td>
                          <button class="btn btn-danger removeCity"><i class="fa fa-trash-o"></i></button>
                        </td>
                      </tr>
                    {{/each}}
                  </table>
                {{else}}
                  No cities in database
                {{/if}}
              </div>
            </div>
          {{else}}
            No selected country
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>